@keyframes moveInLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    90% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    90% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes loadDivider {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes buttonLoad {
    0% {
        transform: translateX(0) scale(1);
        opacity: .5;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
    
}