.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 28%;
    height: 100%;
    background-color: rgba(#fff, .7);
    border-radius: 0;
    transition: .5s;
    transform: translate(100%, -100%);
    border-radius: 100%;
    &__show {
        transform: translate(0, 0);
        border-radius: 0;
    }
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    &__item {
        list-style-type: none;
    }
}
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 3;
    cursor: pointer;
    transition: .5s; 
    display: flex;
    &__active {
        margin: auto;
        width: 50%;
        height: 14px;
        position: relative;
    }
    &__line {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: .3s;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(3) {
            bottom: 0;
        }
        &_close {
            transition: .3s;
            &:nth-child(1) {
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            } 
            &:nth-child(2) {
                display: none;
            }  
            &:nth-child(3) {
                top: 50%;
                bottom: none;
                transform: translateY(-50%) rotate(-45deg);
            } 
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: .5s;
    &_show {
        background-color: rgba(0, 0, 0, .7);
        transform: translateX(0);
    }
}